[Desktop Entry]
Version=1.0
Name=Chromium Web Browser [root]
Name[ast]=Restolador web Chromium [root]
Name[ca]=Navegador web Chromium [root]
Name[de]=Chromium-Webbrowser [root]
Name[es]=Navegador web Chromium [root]
Name[fr]=Navigateur Web Chromium [root]
Name[gl]=Navegador web Chromium [root]
Name[he]=דפדפן האינטרנט Chromium [root]
Name[hr]=Chromium web preglednik [root]
Name[hu]=Chromium webböngésző [root]
Name[id]=Peramban Web Chromium [root]
Name[it]=Browser web Chromium [root]
Name[ja]=Chromium ウェブ・ブラウザ [root]
Name[ko]=Chromium 웹 브라우저 [root]
Name[pt_BR]=Chromium Navegador da Internet [root]
Name[ru]=Веб-браузер Chromium [root]
Name[sl]=Chromium spletni brskalnik [root]
Name[sv]=Webbläsaren Chromium [root]
Name[ug]=Chromium توركۆرگۈ [root]
Name[zh_CN]=Chromium 网页浏览器 [root]
Name[zh_HK]=Chromium 網頁瀏覽器 [root]
Name[zh_TW]=Chromium 網頁瀏覽器 [root]
GenericName=Web Browser [root]
GenericName[ar]=متصفح الشبكة [root]
GenericName[ast]=Restolador web [root]
GenericName[bg]=Уеб браузър [root]
GenericName[bn]=ওয়েব ব্রাউজার [root]
GenericName[ca]=Navegador web [root]
GenericName[cs]=WWW prohlížeč [root]
GenericName[da]=Browser [root]
GenericName[de]=Webbrowser [root]
GenericName[el]=Περιηγητής ιστού [root]
GenericName[en_GB]=Web Browser [root]
GenericName[es]=Navegador web [root]
GenericName[et]=Veebibrauser [root]
GenericName[fi]=WWW-selain [root]
GenericName[fil]=Web Browser [root]
GenericName[fr]=Navigateur Web [root]
GenericName[gl]=Navegador web [root]
GenericName[gu]=વેબ બ્રાઉઝર [root]
GenericName[he]=דפדפן אינטרנט [root]
GenericName[hi]=वेब ब्राउज़र [root]
GenericName[hr]=Web preglednik [root]
GenericName[hu]=Webböngésző [root]
GenericName[id]=Peramban Web [root]
GenericName[it]=Browser web [root]
GenericName[ja]=ウェブ・ブラウザ [root]
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ [root]
GenericName[ko]=웹 브라우저 [root]
GenericName[lt]=Žiniatinklio naršyklė [root]
GenericName[lv]=Tīmekļa pārlūks [root]
GenericName[ml]=വെബ് ബ്രൌസര്‍ [root]
GenericName[mr]=वेब ब्राऊजर [root]
GenericName[nb]=Nettleser [root]
GenericName[nl]=Webbrowser [root]
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର [root]
GenericName[pl]=Przeglądarka WWW [root]
GenericName[pt]=Navegador Web [root]
GenericName[pt_BR]=Navegador da Internet [root]
GenericName[ro]=Navigator de Internet [root]
GenericName[ru]=Веб-браузер [root]
GenericName[sk]=WWW prehliadač [root]
GenericName[sl]=Spletni brskalnik [root]
GenericName[sr]=Интернет прегледник [root]
GenericName[sv]=Webbläsare [root]
GenericName[ta]=இணைய உலாவி [root]
GenericName[te]=మహాతల అన్వేషి [root]
GenericName[th]=เว็บเบราว์เซอร์ [root]
GenericName[tr]=Web Tarayıcı [root]
GenericName[ug]=توركۆرگۈ [root]
GenericName[uk]=Навігатор Тенет [root]
GenericName[vi]=Bộ duyệt Web [root]
GenericName[zh_CN]=网页浏览器 [root]
GenericName[zh_HK]=網頁瀏覽器 [root]
GenericName[zh_TW]=網頁瀏覽器 [root]
Comment=Access the Internet
Comment[ar]=الدخول إلى الإنترنت
Comment[ast]=Accesu a Internet
Comment[bg]=Достъп до интернет
Comment[bn]=ইন্টারনেটটি অ্যাক্সেস করুন 
Comment[ca]=Accediu a Internet
Comment[cs]=Přístup k internetu
Comment[da]=Få adgang til internettet
Comment[de]=Internetzugriff
Comment[el]=Πρόσβαση στο Διαδίκτυο
Comment[en_GB]=Access the Internet
Comment[es]=Acceda a Internet
Comment[et]=Pääs Internetti
Comment[fi]=Käytä internetiä
Comment[fil]=I-access ang Internet
Comment[fr]=Explorer le Web
Comment[gl]=Acceda a Internet
Comment[gu]=ઇંટરનેટ ઍક્સેસ કરો
Comment[he]=גישה לאינטרנט
Comment[hi]=इंटरनेट तक पहुंच स्थापित करें
Comment[hr]=Pristupite Internetu
Comment[hu]=Az internet elérése
Comment[id]=Akses Internet
Comment[it]=Accesso a Internet
Comment[ja]=インターネットにアクセス
Comment[kn]=ಇಂಟರ್ನೆಟ್ ಅನ್ನು ಪ್ರವೇಶಿಸಿ
Comment[ko]=인터넷에 연결합니다
Comment[lt]=Interneto prieiga
Comment[lv]=Piekļūt internetam
Comment[ml]=ഇന്റര്‍‌നെറ്റ് ആക്‌സസ് ചെയ്യുക
Comment[mr]=इंटरनेटमध्ये प्रवेश करा
Comment[nb]=Gå til Internett
Comment[nl]=Verbinding maken met internet
Comment[or]=ଇଣ୍ଟର୍ନେଟ୍ ପ୍ରବେଶ କରନ୍ତୁ
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Comment[ro]=Accesaţi Internetul
Comment[ru]=Доступ в Интернет
Comment[sk]=Prístup do siete Internet
Comment[sl]=Dostop do interneta
Comment[sr]=Приступите Интернету
Comment[sv]=Surfa på Internet
Comment[ta]=இணையத்தை அணுகுதல்
Comment[te]=ఇంటర్నెట్‌ను ఆక్సెస్ చెయ్యండి
Comment[th]=เข้าถึงอินเทอร์เน็ต
Comment[tr]=İnternet'e erişin
Comment[ug]=ئىنتېرنېتنى زىيارەت قىلىش
Comment[uk]=Доступ до Інтернету
Comment[vi]=Truy cập Internet
Comment[zh_CN]=访问互联网
Comment[zh_HK]=連線到網際網路
Comment[zh_TW]=連線到網際網路
Exec=/usr/bin/chromium --no-sandbox %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;application/x-mimearchive;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=chromium
StartupNotify=true
Keywords=browser
