[Unit]
Description=MiniOS startup service
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/minios-startup

[Install]
WantedBy=basic.target