#pulseaudio-button image {
    -gtk-icon-transform: scale(.7);
}
#xfce4-clipman-plugin image {
    -gtk-icon-transform: scale(.7);
}
#xfce4-power-manager-plugin image {
    -gtk-icon-transform: scale(.7);
}