[Desktop Entry]
Name=Clonezilla
Exec=xfce4-terminal --title="Clonezilla" --geometry=135x35 -e "sudo --preserve-env=DBUS_SESSION_BUS_ADDRESS,XDG_RUNTIME_DIR /usr/sbin/clonezilla.sh"
Icon=ocslogo
Type=Application
Categories=System
StartupNotify=true
