[submodule "submodules/elementary-xfce-minios"]
	path = submodules/elementary-xfce-minios
	url = https://github.com/minios-linux/elementary-xfce-minios.git
	branch = master
[submodule "submodules/packages"]
	path = submodules/packages
	url = https://github.com/minios-linux/packages.git
	branch = master
[submodule "submodules/rescuezilla"]
	path = submodules/rescuezilla
	url = https://github.com/minios-linux/rescuezilla.git
	branch = master
[submodule "submodules/minios-linux.github.io"]
	path = submodules/minios-linux.github.io
	url = https://github.com/minios-linux/minios-linux.github.io.git
[submodule "submodules/kernelfiles"]
	path = submodules/kernelfiles
	url = https://github.com/minios-linux/kernelfiles.git
[submodule "submodules/minios-live.wiki"]
	path = submodules/minios-live.wiki
	url = https://github.com/minios-linux/minios-live.wiki.git
[submodule "submodules/docs"]
	path = submodules/docs
	url = https://github.com/minios-linux/docs.git
[submodule "submodules/debian"]
	path = submodules/debian
	url = https://github.com/minios-linux/debian.git
[submodule "submodules/minios-installer"]
	path = submodules/minios-installer
	url = https://github.com/minios-linux/minios-installer.git
[submodule "submodules/minios-tools"]
	path = submodules/minios-tools
	url = https://github.com/minios-linux/minios-tools.git
[submodule "submodules/minios-boot"]
	path = submodules/minios-boot
	url = https://github.com/minios-linux/minios-boot.git
[submodule "submodules/libminioslive"]
	path = submodules/libminioslive
	url = https://github.com/minios-linux/libminioslive.git
[submodule "submodules/minios-welcome"]
	path = submodules/minios-welcome
	url = https://github.com/minios-linux/minios-welcome.git
[submodule "submodules/fonts-roboto-light"]
	path = submodules/fonts-roboto-light
	url = https://github.com/minios-linux/fonts-roboto-light.git
[submodule "submodules/minios-configurator"]
	path = submodules/minios-configurator
	url = https://github.com/minios-linux/minios-configurator.git
[submodule "submodules/gtkask"]
	path = submodules/gtkask
	url = https://github.com/minios-linux/gtkask.git
[submodule "submodules/gtkdialog"]
	path = submodules/gtkdialog
	url = https://github.com/minios-linux/gtkdialog.git
[submodule "submodules/flux-tools"]
	path = submodules/flux-tools
	url = https://github.com/minios-linux/flux-tools.git
[submodule "submodules/xlunch-slax"]
	path = submodules/xlunch-slax
	url = https://github.com/minios-linux/xlunch-slax.git
[submodule "submodules/drivers"]
	path = submodules/drivers
	url = https://github.com/minios-linux/drivers.git
[submodule "submodules/hdsentinel-gui"]
	path = submodules/hdsentinel-gui
	url = https://github.com/minios-linux/hdsentinel-gui.git
[submodule "submodules/lshw"]
	path = submodules/lshw
	url = https://github.com/minios-linux/lshw.git
[submodule "submodules/eddy"]
	path = submodules/eddy
	url = https://github.com/minios-linux/eddy.git
[submodule "submodules/minios-testing"]
	path = submodules/minios-testing
	url = https://github.com/minios-linux/minios-testing
[submodule "submodules/mintstick"]
	path = submodules/mintstick
	url = https://github.com/minios-linux/mintstick
[submodule "submodules/ntfs3-dkms"]
	path = submodules/ntfs3-dkms
	url = https://github.com/minios-linux/ntfs3-dkms
