*.deb
*.gz
*.iso
*.xz
.gitignore
.install_dir
06-1cv83
06-cap376
06-thincast
batch-build-nightly
batch-upload
build/
container_buildconfig
container_config
docker/03-custom.sh
linux-live/initramfs/initramfs.log
linux-live/unusedmodules
logs
makemove
makeupload
mlc-batch-build-nightly
multistrap*
rootfs/
setup-training-8.3.20.1789-x86_64.run
slax.list
upload_initrfs
waitiso