[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher
Comment=Application launcher screen
Exec=fbappselect
Icon=distributor-logo-minios
Path=
Terminal=false
StartupNotify=false
