[Desktop Entry]
Type=Application
Icon=utilities-terminal
Exec=xterm
Terminal=false
Categories=System;TerminalEmulator;

Name=Terminal emulator
Comment=Terminal emulator
Name[ar]=محاكي طرفية
Comment[ar]=محاكي طرفية
Name[bg]=Терминал
Comment[bg]=QTerminal
Name[ca]=Emulador de terminal
Comment[ca]=Emulador de terminal
Name[cs]=Emulátor terminálu
Comment[cs]=Emulátor terminálu
Name[da]=Terminalemulator
Comment[da]=Terminalemulator
Comment[de]=Befehlszeile verwenden
Name[de]=Terminalemulator
Name[el]=Προσομοιωτής τερματικού
Comment[el]=Προσομοιωτής τερματικού
Name[en_GB]=Terminal emulator
Comment[en_GB]=Terminal emulator
Comment[eo]=Fina emulilo
Name[eo]=Fina emulilo
Name[es]=Emulador de terminal
Comment[es]=Emulador de terminal
Name[et]=Terminaliemulaator
Comment[et]=Terminaliemulaator
Name[fa]=شبیه ساز ترمینال
Comment[fa]=شبیه ساز ترمینال
Name[fr]=Émulateur de terminal
Comment[fr]=Terminal
Name[he]=מדמה מסוף
Comment[he]=מדמה מסוף
Name[hi]=टर्मिनल एमुलेटर
Comment[hi]=टर्मिनल एमुलेटर
Name[hr]=Emulator terminala
Comment[hr]=Emulator terminala
Name[hu]=Terminál emulátor
Comment[hu]=Terminál emulátor
Name[id]=Emulator terminal
Comment[id]=Emulator terminal
Name[it]=Emulatore di terminale
Comment[it]=Emulatore di terminale
Name[ja]=端末エミュレーター
Comment[ja]=端末エミュレーターです
Name[km]=ស្ថានីយសិប្បនិម្មិត
Comment[km]=ស្ថានីយសិប្បនិម្មិត
Name[ko]=터미널 에뮬레이터
Comment[ko]=터미널 에뮬레이터
Comment[lt]=Terminalo emuliatorius
Name[lt]=Terminalo emuliatorius
Name[nb]=Terminalemulator
Comment[nb]=Terminalemulator
Name[nl]=Terminalemulator
Comment[nl]=Terminalemulator
Name[oc]=Emulator de terminal
Comment[oc]=Emulator de terminal
Name[pl]=Emulator terminala
Comment[pl]=Emulator terminala
Name[pt]=Emulador de terminal
Comment[pt]=Emulador de terminal
Name[pt_BR]=Emulador de terminal
Comment[pt_BR]=Emulador de terminal
Name[ru]=Эмулятор терминала
Comment[ru]=Эмулятор терминала
Name[sk]=Emulátor terminálu
Comment[sk]=Emulátor terminálu
Name[sl]=Terminalski emulator
Comment[sl]=Terminalski emulator
Name[sv]=Terminalemulator
Comment[sv]=Terminalemulator
Name[tr]=Uçbirim öykünücüsü
Comment[tr]=Uçbirim öykünücüsü
Name[uk]=Емулятор термінала
Comment[uk]=Емулятор термінала
Name[uz]=terminal emulyatori
Comment[uz]=terminal emulyatori
Name[zh_CN]=终端模拟器
Comment[zh_CN]=终端模拟器
Name[zh_TW]=終端機模擬器
Comment[zh_TW]=終端機模擬器
[Desktop Action Dropdown]
