[Desktop Entry]
Name=Automatic time zone setting
Name[ru]=Автоматическая настройка часового пояса
Comment=Enable or disable automatic time zone adjustment
Comment[ru]=Включение и отключение автоматической настройки часового пояса
Icon=clock
Exec=minios-tzsetup
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;Settings;
