[Desktop Entry]
Name=Disk Cloning (Clonezilla)
Exec=xfce4-terminal --title="Clonezilla" --geometry=135x35 -e /usr/sbin/clonezilla.sh
Icon=ocslogo
Type=Application
Categories=System
StartupNotify=true
