[Desktop Entry]
Type=Application
Version=1.0
Name=PipeWire Audio
Comment=Start the PipeWire audio session when user services are unavailable
Exec=/usr/bin/minios-pipewire-start
TryExec=/usr/bin/pipewire
OnlyShowIn=XFCE;
NoDisplay=true
StartupNotify=false
