[Desktop Entry]
Type=Application
Exec=/usr/bin/minios-setup-keyboard
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=MiniOS Keyboard Setup
Name=MiniOS Keyboard Setup
Comment=Configure keyboard layout from boot parameters
Comment[de]=Konfiguriert Tastaturlayout aus Boot-Parametern
Comment[es]=Configura la distribución del teclado desde los parámetros de arranque
Comment[fr]=Configure la disposition du clavier à partir des paramètres de démarrage
Comment[it]=Configura il layout della tastiera dai parametri di avvio
Comment[pt]=Configura o layout do teclado a partir dos parâmetros de inicialização
Comment[ru]=Настройка раскладки клавиатуры из параметров загрузки
