[Desktop Entry]
Type=Application
Exec=/usr/bin/minios-virtreschange
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=MiniOS Virtual Resolution Change
Name=MiniOS Virtual Resolution Change
Comment=Script for automatic resolution change in virtualization environment on XFCE startup
Comment[de]=Skript zur automatischen Änderung der Auflösung in einer Virtualisierungsumgebung beim Start von XFCE
Comment[es]=Script para cambio automático de resolución en entorno de virtualización al inicio de XFCE
Comment[fr]=Script pour le changement automatique de résolution dans un environnement de virtualisation au démarrage de XFCE
Comment[it]=Script per il cambio automatico della risoluzione in un ambiente di virtualizzazione all'avvio di XFCE
Comment[pt]=Script para alteração automática de resolução em ambiente de virtualização no início do XFCE
Comment[ru]=Скрипт для автоматического изменения разрешения экрана в среде виртуализации при старте XFCE
