[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[shm]
row=2
col=0

[proc]
row=3
col=0

[sys]
row=4
col=0

[Filesystem root]
row=0
col=0

[pts]
row=1
col=0

[/]
row=0
col=1

[/root]
row=1
col=1

