Source: minios-live
Section: utils
Priority: optional
Maintainer: crims0n <crims0n@minios.dev>
Build-Depends: debhelper (>= 13), gettext
Standards-Version: 4.1.3
Homepage: https://minios.dev

Package: minios-live
Architecture: amd64
Depends: ${misc:Depends}, debootstrap, xorriso, binutils, squashfs-tools, grub-common, mtools, xz-utils, liblz4-tool, zstd, curl, rsync, gpg, gettext, cpio
Suggests: apt-cacher-ng
Description: Scripts to build a bootable MiniOS ISO image.
 MiniOS Live provides scripts to build a bootable MiniOS ISO image.
 It supports various configurations such as Debian 10–13, Debian Unstable,
 Ubuntu 22.04, and Ubuntu 24.04 with desktop environments like Xfce4,
 Fluxbox, and LXQT.
