[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Keep focus on
Categories=Application;GTK;System;
Icon=keepfocuson
Exec=/usr/bin/keepfocuson
