[Desktop Entry]
Type=Application
Version=1.0
Name=Install MiniOS
Keywords=install;
Exec=fbliveapp minios-installer
Icon=installer
Terminal=false
Categories=GTK;System;Settings;
