[Unit]
Description=Command line parsing script
Before=getty.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cmdline_parser
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=getty.target