[Unit]
Description=Сommand line parsing script
Before=basic.target
After=local-fs.target sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cmdline_parser
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=basic.target