[Desktop Entry]
Type=Application
Version=1.0
Name=Install MiniOS
Name[am]=የተለቀቀውን መግጠሚያ
Name[ar]=ثبّت MiniOS
Name[ast]=Instalar MiniOS
Name[be]=Усталяваць MiniOS
Name[bg]=Инсталиране MiniOS
Name[bn]=MiniOS ইনস্টল করুন
Name[bs]=Instaliraj izdanje
Name[ca]=Instal·la la versió MiniOS
Name[cs]=Nainstalovat MiniOS
Name[da]=Installér MiniOS
Name[de]=MiniOS installieren
Name[el]=Εγκατάσταση MiniOS
Name[eo]=Instali MiniOS
Name[es]=Instalar MiniOS
Name[et]=Paigalda MiniOS
Name[eu]=Instalatu MiniOS
Name[fi]=Asenna MiniOS
Name[fr]=Installer MiniOS
Name[ga]=Suiteáil MiniOS
Name[gl]=Instalar MiniOS
Name[gu]=રિલીઝ નું સ્થાપન કરો.
Name[he]=התקנת MiniOS
Name[hi]=MiniOS को संस्थापित करें।
Name[hr]=Instaliraj MiniOS
Name[hu]=MiniOS telepítése
Name[id]=Pasang MiniOS
Name[it]=Installa MiniOS
Name[ja]=MiniOS のインストール
Name[ka]=MiniOS-ის დაყენება
Name[kk]=MiniOS орнату
Name[km]=ដំឡើង MiniOS
Name[ko]=MiniOS 설치
Name[ku]=MiniOS saz bike
Name[lt]=Įdiegti MiniOS į kompiuterį
Name[lv]=Instalēt MiniOS
Name[mk]=Инсталирај MiniOS
Name[ml]=MiniOS സജ്ജമാക്കുക
Name[mr]=स्थापित MiniOS
Name[ne]=MiniOS लाई स्थापन गर्नुहोस्
Name[nl]=MiniOS installeren
Name[pa]=MiniOS ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Zainstaluj MiniOS
Name[pt]=Instalar MiniOS
Name[pt_BR]=Instalar o MiniOS
Name[ro]=Instalare MiniOS
Name[ru]=Установить MiniOS
Name[sk]=Inštalovať MiniOS
Name[sl]=Namesti MiniOS
Name[sq]=Instalo MiniOS
Name[sr]=Инсталирајте MiniOS
Name[sv]=Installera MiniOS
Name[ta]=MiniOS என்பதை நிறுவு
Name[th]=ติดตั้ง MiniOS
Name[tl]=Iluklok ang MiniOS
Name[tr]=MiniOS Kurulumu
Name[uk]=Встановити MiniOS
Name[vi]=Cài đặt MiniOS
Name[zh_CN]=安装 MiniOS
Name[zh_TW]=安裝 MiniOS
Comment=Install this system permanently to your hard disk
Comment[am]=ይኼን ሲስተም ሀርድ ዲስክዎ ላይ በቋሚነት ይጫኑት
Comment[ar]=ثبّت هذا النظام على القرص الصلب
Comment[ast]=Instalar permanentemente esti sistema nel to discu duru
Comment[be]=Усталяваць гэтую сістэму на ваш цвёрды дыск
Comment[bg]=Инсталиране Ubuntu трайно на твърдия диск
Comment[bn]=এই সিস্টেমটি আপনার হার্ডডিস্কে স্থায়ীভাবে ইনস্টল করুন।
Comment[bs]=Instaliraj ovaj sistem trajno na tvrdi disk
Comment[ca]=Instal·la aquest sistema permanentment al disc dur
Comment[cs]=Nainstalovat tento systém natrvalo na váš disk
Comment[da]=Installér systemet permanent på din harddisk
Comment[de]=Dieses System dauerhaft auf der Festplatte installieren
Comment[el]=Εγκαταστήστε μόνιμα το σύστημα στο σκληρό δίσκο
Comment[eo]=Instali ĉi tiun sistemon daŭre en via disko
Comment[es]=Instalar permanentemente este sistema en su disco duro
Comment[et]=Paigalda see süsteem jäädavalt oma kõvakettale
Comment[eu]=Sistema hau betiko instalatu disko gogorrean
Comment[fi]=Asenna tämä järjestelmä pysyvästi kiintolevyllesi
Comment[fr]=Installer ce système de façon permanente sur votre disque dur
Comment[ga]=Suiteáil an córas seo go buan ar do chruadhiosca
Comment[gl]=Instalar o sistema de xeito permanente no disco ríxido
Comment[gu]=આ સિસ્ટમ તમારી હાર્ડ ડિસ્ક પર હંમેશ માટે સ્થાપિત કરો
Comment[he]=התקנת המערכת באופן קבוע על הכונן הקשיח
Comment[hi]=इस तंत्र को आपके हार्ड डिस्क में स्थायी रूप से संस्थापित करें
Comment[hr]=Trajno instaliraj sustav na čvrsti disk
Comment[hu]=A rendszer telepítése merevlemezre
Comment[id]=Memasang sistem ini secara permanen pada diska Anda
Comment[it]=Installa questo sistema in modo permanente sul disco rigido
Comment[ja]=このシステムをハードディスクにインストールします
Comment[ka]=მოცემული სისტემის მყარ დისკზე ჩაყენება
Comment[kk]=Жүйені қатқыл дискіңізге тұрақты орнату
Comment[km]=ដំឡើង​ប្រព័ន្ធ​នេះ​ជា​អចិន្ត្រៃយ៍​ទៅ​កាន់​ថាស​រឹង​របស់​អ្នក
Comment[ko]=이 시스템을 하드 디스크에 설치합니다.
Comment[ku]=Sîstemê di hard dîskê xwe de saz bike
Comment[lt]=Įdiegti Linux operacinę sistemą į kompiuterio (vidinį) diską ar kitą laikmeną
Comment[lv]=Instalēt šo sistēmu cietajā diskā
Comment[mk]=Инсталирајте го системот трајно на Вашиот тврд диск
Comment[ml]=സ്ഥിരമായി ഹാര്‍ഡ് ഡിസ്കിലേക്ക് ഇന്‍സ്റ്റാള്‍ ചെയ്യുക
Comment[mr]=ही प्रणाली कायमची तुमच्या हार्ड डिस्कवर स्थापित करा
Comment[ne]=यो प्रणाली तपाईको हार्ड डिस्कमा थाई रुपमा प्रतिस्थापन गर्नुहोस्
Comment[nl]=Dit systeem definitief op uw harde schijf installeren
Comment[pa]=ਇਹ ਸਿਸਟਮ ਪੱਕੇ ਤੌਰ ਉੱਤੇ ਆਪਣੀ ਹਾਰਡ ਡਿਸਕ ਉੱਤੇ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Zainstaluj system na dysku twardym
Comment[pt]=Instalar este sistema permanentemente no seu disco rígido
Comment[pt_BR]=Instalar este sistema de maneira permanente no seu disco rígido
Comment[ro]=Instalați permanent acest sistem pe discul calculatorului
Comment[ru]=Установить эту систему на жёсткий диск
Comment[sk]=Nainštalovať systém natrvalo na pevný disk
Comment[sl]=Trajno namesti sistem na trdi disk
Comment[sq]=Instalo këtë sistem përgjithmonë në Hard Disk
Comment[sr]=Инсталирајте овај систем трајно на ваш чврсти диск
Comment[sv]=Installera detta system permanent på din hårddisk
Comment[ta]=இந்த நிலையை நிரந்தரமாக தங்களது கணினியில் நிறுவுக
Comment[th]=ติดตั้งระบบนี้อย่างถาวรลงบนฮาร์ดดิสก์ของคุณ
Comment[tl]=Iluklok ng permanente ang systema sa iyong hard disk
Comment[tr]=Bu sistemi sabit diskinize kalıcı olarak kurun
Comment[uk]=Встановити цю систему на жорсткий диск
Comment[vi]=Cài hệ thống vào đĩa cứng
Comment[zh_CN]=将这个系统永久安装在您的硬盘上
Comment[zh_TW]=將此系統安裝到您的硬碟中
Keywords=install;
Exec=sudo --preserve-env=DBUS_SESSION_BUS_ADDRESS,XDG_RUNTIME_DIR sh -c 'minios-installer'
Icon=ubiquity
Terminal=false
Categories=GTK;System;Settings;
NotShowIn=KDE;
X-Ayatana-Appmenu-Show-Stubs=False
