!----------------------------------------------------------------------------------------------
! This work is licensed under the Creative Commons 
! Attribution-ShareAlike License. 
! To view a copy of this license, visit 
! http://creativecommons.org/licenses/by-sa/3.0/
!----------------------------------------------------------------------------------------------
! Style Name: 						Greybird Mod (Based on Doty by Endel)
! Style version						1.0
! Style Author: 					@Toni_Link
! Style Date: 						2014
!----------------------------------------------------------------------------------------------

background: fullscreen
background.pixmap: /usr/share/wallpapers/flux_wallpaper.jpg

!*font: Inter-10
!*.font.effect:
#*.font.shadow.color: 					#535353
#*.font.shadow.x: 					0
#*.font.shadow.y: 					0

!----------------------------------------------------------------------------------------------

toolbar.bevelWidth: 0

toolbar.borderWidth: 1
toolbar.borderColor: #aaaaaa

toolbar.height: 20
toolbar.justify: center

toolbar: flat gradient vertical
toolbar.pixmap:
toolbar.color:   #e7e7e7
toolbar.colorTo: #b0b0b0

toolbar.shaped: false
toolbar.clock: flat gradient vertical
toolbar.clock.pixmap:
toolbar.clock.justify: center
toolbar.clock.color:     #e7e7e7
toolbar.clock.colorTo:   #b0b0b0
toolbar.clock.textColor: #000000
! Adicionando a fonte para o relógio
toolbar.clock.font: Inter-9

toolbar.workspace: flat gradient vertical
toolbar.workspace.pixmap:
toolbar.workspace.justify: center
toolbar.workspace.color:     #e7e7e7
toolbar.workspace.colorTo:   #b0b0b0
toolbar.workspace.textColor: #000000
! Fonte para o nome da Área de trabalho
toolbar.workspace.font: Inter-9

toolbar.button: flat gradient vertical
toolbar.button.pixmap:
toolbar.button.color:    #e7e7e7
toolbar.button.colorTo:  #b0b0b0
toolbar.button.picColor: #3b3b3b
toolbar.button.pressed: flat gradient vertical
toolbar.button.pressed.pixmap:
toolbar.button.pressed.color:   #e7e7e7
toolbar.button.pressed.colorTo: #b0b0b0
toolbar.button.pressed.picColor:

toolbar.iconbar.empty: flat gradient vertical
toolbar.iconbar.empty.pixmap:
toolbar.iconbar.empty.color:   #e7e7e7
toolbar.iconbar.empty.colorTo: #b0b0b0
toolbar.iconbar.borderWidth: 0
toolbar.iconbar.borderColor: #8c8c8c

toolbar.iconbar.focused.borderWidth:
toolbar.iconbar.focused.borderColor:
toolbar.iconbar.focused: flat gradient vertical
toolbar.iconbar.focused.pixmap:
toolbar.iconbar.focused.color:     #e7e7e7
toolbar.iconbar.focused.colorTo:   #b0b0b0
toolbar.iconbar.focused.textColor: #000000
toolbar.iconbar.focused.justify: center
! Fonte para o programa em uso
toolbar.iconbar.focused.font: Inter-10:bold

toolbar.iconbar.unfocused.borderWidth:
toolbar.iconbar.unfocused.borderColor:
toolbar.iconbar.unfocused: flat gradient vertical
toolbar.iconbar.unfocused.pixmap:
toolbar.iconbar.unfocused.color:     #e7e7e7
toolbar.iconbar.unfocused.colorTo:   #b0b0b0
toolbar.iconbar.unfocused.textColor: #3c3c3c
toolbar.iconbar.unfocused.justify: center
! Fonte para a lista de programas abertos
toolbar.iconbar.unfocused.font: Inter-10

!----------------------------------------------------------------------------------------------

menu.bevelWidth: 0
menu.itemHeight: 24
menu.titleHeight: 24

menu.roundCorners:
menu.borderColor: #aaaaaa
menu.borderWidth: 1

menu.bullet.position: right
menu.bullet: empty

menu.submenu.pixmap:
menu.hilite.submenu.pixmap:

menu.selected.pixmap:
menu.hilite.selected.pixmap:

menu.unselected.pixmap:
menu.hilite.unselected.pixmap:

menu.title: flat gradient vertical vertical
menu.title.pixmap:
menu.title.justify: center
menu.title.color:     #e7e7e7
menu.title.colorTo:   #b0b0b0
menu.title.textColor: #3b3b3b
! Fonte para título do menu
menu.title.font: Inter-10

menu.frame: flat gradient vertical vertical
menu.frame.pixmap:
menu.frame.justify: left
menu.frame.color:        #f4f4f4
menu.frame.colorTo:      #f4f4f4
menu.frame.textColor:    #3b3b3b
menu.frame.disableColor: #726d69
! Fonte para item do menu
menu.frame.font: Inter-10

menu.hilite: flat gradient vertical
menu.hilite.pixmap:
menu.hilite.color:     #c0d0de
menu.hilite.colorTo:   #96afc6
menu.hilite.textColor: #ffffff
! Fonte para item do menu em foco
menu.hilite.font: Inter-10

!----------------------------------------------------------------------------------------------

window.bevelWidth: 0
window.shade:
window.borderWidth: 1
window.borderColor: #aaaaaa
window.roundCorners:
window.justify: center

window.title.height: 18

window.title.focus: flat gradient vertical
window.title.focus.pixmap:
window.title.focus.color:   #b0b0b0
window.title.focus.colorTo: #3b3b3b
window.title.unfocus: flat gradient vertical
window.title.unfocus.pixmap:
window.title.unfocus.color:   #e7e7e7
window.title.unfocus.colorTo: #b0b0b0

window.label.focus: flat gradient vertical
window.label.focus.pixmap:
window.label.focus.color:     #e7e7e7
window.label.focus.colorTo:   #b0b0b0
window.label.focus.textColor: #000000
! Fonte para título de janela em foco
window.label.focus.font: Inter-10
window.label.unfocus: flat gradient vertical
window.label.unfocus.pixmap:
window.label.unfocus.color:     #e7e7e7
window.label.unfocus.colorTo:   #b0b0b0
window.label.unfocus.textColor: #3b3b3b
! Fonte para título de janela fora de foco
window.label.unfocus.font: Inter-10
window.button.focus: ParentRelative
window.button.focus.color:
window.button.focus.colorTo:
window.button.focus.picColor: #3b3b3b
window.button.unfocus: ParentRelative
window.button.unfocus.Color:
window.button.unfocus.ColorTo:
window.button.unfocus.picColor: #3b3b3b
window.button.pressed: Flat
window.button.pressed.color:    #4C4C4C
window.button.pressed.colorTo:  #545454
window.button.pressed.picColor: #b0b0b0

window.shade.pixmap:
window.shade.unfocus.pixmap:
window.shade.pressed.pixmap:

window.unshade.pixmap:
window.unshade.unfocus.pixmap:
window.unshade.pressed.pixmap:

window.menuicon.pixmap:
window.menuicon.unfocus.pixmap:
window.menuicon.pressed.pixmap:

window.close.pixmap: close.xpm
window.close.unfocus.pixmap: close.xpm
window.close.pressed.pixmap: close_pressed.xpm

window.iconify.pixmap: min.xpm
window.iconify.unfocus.pixmap: min.xpm
window.iconify.pressed.pixmap: min_pressed.xpm

window.maximize.pixmap: max.xpm
window.maximize.unfocus.pixmap: max.xpm
window.maximize.pressed.pixmap: max_pressed.xpm

window.stick.pixmap: stick.xpm
window.stick.unfocus.pixmap: stick.xpm
window.stick.pressed.pixmap: stick.xpm

window.stuck.pixmap: stuck.xpm
window.stuck.unfocus.pixmap: stuck.xpm
window.stuck.pressed.pixmap: stuck.xpm

window.handle.focus: flat
window.handle.focus.pixmap:
window.handle.focus.color: #b0b0b0
window.handle.focus.colorTo:
window.handle.unfocus: flat
window.handle.unfocus.pixmap:
window.handle.unfocus.color: #b0b0b0
window.handle.unfocus.colorTo:
window.handleWidth: 0

window.grip.focus: flat
window.grip.focus.pixmap:
window.grip.focus.color: #b0b0b0
window.grip.focus.colorTo:
window.grip.unfocus: flat
window.grip.unfocus.pixmap:
window.grip.unfocus.color: #b0b0b0
window.grip.unfocus.colorTo:

!----------------------------------------------------------------------------------------------

slit: flat gradient vertical
slit.pixmap:
slit.color:   #e7e7e7
slit.colorTo: #b0b0b0
slit.borderWidth: 1
slit.bevelWidth: 1
slit.borderColor: #8c8c8c

!----------------------------------------------------------------------------------------------
